<%- include("./includes/head.ejs"); %>

<link rel="stylesheet" href="/post.css">

<body>
	<header>
		<%- include("./includes/navbar.ejs"); %>
	</header>

	<div class="loading-spinner" id="loadingSpinner">
	    <img src="https://i.ibb.co/PTLFqC0/cube.png" alt="Your Logo" class="logoSp">
	    <div class="spinner"></div>
	</div>

	<section>
		<div class="container-fluid border-0 p-0" style="margin-top: 80px;">
			<div class="row justify-content-center">
		        <div class="col-12 text-center">
		          	<% if(errorMessage != 'null') { %>
		            	<div class="alert alert-danger" role="alert"><%= errorMessage %></div>
		          	<% } %>
		        </div>

		        <div class="col-12 col-lg-12 text-center mb-3 mt-2">
		        	<h3>TERMS OF SERVICE</h3>
		        </div>

		        <div class="col-12 col-lg-12 text-center post_div2 border">
		        	<% if(showData != '') {%>
		        		<table class="table table-striped table-hover table-responsive">
						  	<thead class="table-dark">
							    <tr>
							      <th scope="col">#</th>
							      <th scope="col">Name</th>
							      <th scope="col"></th>
							    </tr>
						  	</thead>
						  	<tbody>
						  		<% showData.forEach((i, index) => { %>
								    <tr>
								      	<th scope="row"><%= index+1 %></th>
								      	<td><%= i.name %></td>
								      	<td>
		                      <a href="/v1/editFooter/<%= id %>" type="button" class="btn btn-outline-primary">View</a>
													<a href="/v1/deleteFooter/<%= id %>" type="button" class="btn d-none">
											    	<i class="fa-solid fa-trash" style="color: red;"></i>
													</a>
												</td>
								    </tr>
								<% }) %>
						  	</tbody>
						</table>
		        	<% } %>
		        </div>
		    </div>
		</div>
	</section>

	<footer></footer>

	<script>
		const loadingSpinner = document.getElementById('loadingSpinner');

	    setTimeout(function() {
            if (loadingSpinner) {
              loadingSpinner.style.display = 'none';
            }
      }, 5000);
    
      globalThis.document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                const alertElement = document.querySelector('.alert-danger');
                if (alertElement) {
                    alertElement.style.display = 'none';
                }
            }, 3000); // 3000 milliseconds = 3 seconds
      })
	</script>

	<%- include("./includes/end.ejs"); %>

</body>